<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dentist_Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="desktop-rls0de2.Dentist_DB.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-RLS0DE2;integrated security=SSPI;initial catalog=Dentist_DB" />
        <add name="Dentist_Project.Properties.Settings.Dentist_DBConnectionString"
            connectionString="Data Source=.;Initial Catalog=Dentist_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Dentist_Project.Properties.Settings>
      <setting name="Year_Value" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Last_Year" serializeAs="String">
        <value>0</value>
      </setting>
    </Dentist_Project.Properties.Settings>
  </userSettings>
</configuration>